*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
body{
    font-family: 'Open Sans', sans-serif;
}
header{
    width: 100%;
    background: black;
    display: flex; 
}
.header_logo{
    text-transform: uppercase;
    color: blanchedalmond;
    font-weight: 800;
    font-size: 24px;
    cursor: pointer;
    margin-top: 56px;
    margin-left: 12%;
}
nav{
    margin-top: 56px;
    margin-left: 29%;
}
.topnav a{
    color: blanchedalmond;
    text-align: center;
    padding: 10px 16px;
    font-size: 14px;
    font-weight: bold;
}
.topnav a:hover{
    border-bottom: 3px solid #fcac45;
}
.topnav .icon{
    display: none;
}
main{
    display: flex;
    flex-direction: column;
    width: 100%;
}
main .main_welcome{
    background: #000;
    text-align: center;
    padding: 200px 0 410px 0;
}
main .main_welcome p{
    color: #999999;
    font-size: 20px;
}
span2{
    font-weight: bold;
    color: #c3c3c3;
}
main .main_welcome h1{
    color: #999999;
    font-size: 44px;
}
main .main_welcome h1:after{
    display: none;
}
.mycompany{
    color: #fcac45;
}
.wrapper{
    width: 76%;
    margin: 0 auto;
}
main .main_about{
    display: flex;
    padding: 100px 0 100px 0;
}
.about_right{
    margin-left: 175px;
}
.about_right h1{
    display: inline-block;
    border-bottom: 3px solid #fcac45;
    padding-bottom: 20px;
    font-weight: lighter;
}
.about_right h1:after{
    display: none;
}
span{
    font-weight: bold;
}
.about_right p{
    margin: 30px 0px 50px 0;
    color: #6c6c6c;
}
.about_right li{
    list-style-type: disc;
    padding-left: 10px;
    margin: 10px;
    color: #312d2d;
}
.mw-100{
    min-width: 100%;
}



.main_team{
    background: black;
    text-align: center;
    padding: 100px 0 165px 0;
    color: blanchedalmond;
}
.main_team h1{
    font-size: 44px;
    padding-bottom: 30px;
}
/*.line{
    width: 100px;
    height: 3px;
    background: #fcac45;
    position: relative;
    left: 45.5%;
    margin-bottom: 85px;
}*/
.photo{
    background: #d7d7d7;
    width: 125px;
    height: 125px;
    border-radius: 50%;
    margin: 20px auto;
}
.team_cards{
    display: flex;
}
.card{
    margin: 0 40px;
}
.name{
    font-size: 20px;
    margin-bottom: 7px;
    font-weight: bolder;
}
.position{
    font-size: 16px;
    margin-bottom: 35px;
    font-weight: lighter;
}
.about_position{
    font-size: 14px;
    font-weight: lighter;
}




.services_cards{
    text-align: center;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-column-gap: 20px;
}
.main_services h1{
    text-align: center;
    padding: 100px 0 30px 0;
}
.main_services p{
    color: #6c6c6c;
    margin-bottom: 100px;
}
.services_cards h4 {
    margin-top: 20px;
    margin-bottom: 15px;
}

.main_clients{
    background: #000;
    padding: 100 px 0 205px 0;
    color: #fff;
    text-align: center;
}
.main_clients h1{
    margin-bottom: 30px;  
    margin-top: 100px; 
}
.main_clients img{
    margin-top: 10px;
    margin-left: 30px;
    padding-bottom: 210px;
}

.main_testimonials {
    background: #000;
    text-align: center;
    color: #fff;
    padding-bottom: 170px;
}
.main_testimonials .testimonial{
    text-transform: uppercase;
    margin-bottom: 50px;
}
.main_testimonials h1{
   text-transform: uppercase;
   margin-top: 100px;  
   margin-bottom: 30px; 
}

.main_work {
    background: #fff;
    text-align: center;
    padding: 100px 0 100px 0;
}
.main_work h1{
    margin-bottom: 30px;
}
.main_work p{
    margin-bottom: 175px;
    color: #6c6c6c;
}
.main_work img:hover{
    opacity: 0.9;
}
.main_work img{
    padding: 30px 30px 30px 30px;
}

.contact_wrapper{
    width: 753px;
    margin: 0 auto;
    color: #636363;
}
.red{
    color: red;
}
input{
    width: 360px;
    height: 40px;
    font-size: 20px;
    margin-bottom: 30px;
}
input:first-of-type{
    margin-right: 30px;
}
form p{
    text-align: left;
}
.form_inputs{
    margin-top: 100px;
    display: flex;
}
textarea{
    width: 100%;
    height: 163px;
}
input, textarea{
    border: 1px solid #999999;
    margin-top: 5px;
}
.button_block{
    display: flex;
    justify-content: flex-end;
}
input[type=submit] {
    width: 165px;
    height: 40px;
    background: #fcac45;
    color: #fff;
    margin-right: 0;
    margin-top: 20px;
}
.contact_from{
    padding: 100px 0 100px 0;
}
.contact_from h1, p{
    text-align: center;
}
.contact_from h1{
    color: black;
    margin-bottom: 30px;
}
h1:after{
    content: "";
    display: block;
    margin: 0 auto;
    width: 100px;
    padding-top: 30px;
    border-bottom: 3px solid #fcac45;
}
footer{
    width: 100%;
    height: auto;
    background:  #222222;
    padding: 30px 0 30px 0;
}
.social{
    display: flex;
    justify-content: center;
}
.social img{
    margin-left: 12px;
}
.social img:hover{
    opacity: 0.6;
}



@media screen and (max-width: 1200px) {
    nav{
        margin-left: 20%;
    }
}
@media screen and (max-width: 1105px) {
    nav{
        margin-left: 10%;
    }
}
@media screen and (max-width: 1010px) {
    .topnav a{
        display: none;
    }
    .topnav a.icon{
        float: right;
        margin-top: -17px;
        display: block;
        color: #fff;
        font-size: 25px;
    }
    nav{
        width: 100%;
    }
    .topnav.responsive{
        position: relative;
        top: 50px;
        left: -200px;
    }
    header .topnav.responsive{
        height: 340px;
    }
    .topnav.responsive a.icon{
        position: absolute;
        top: -50px;
        right: -200px;
    }
    .topnav.responsive a{
        float: none;
        display: block;
        text-align: left;
    }
    main .main_welcome{
        padding: 50px 0 50px 0;
    }
    main .main_welcome p{
        font-size: 14px;
    }
    main .main_welcome h1{
        font-size: 25px;
    }
    .mw-100{
        max-width: 100%;
    }
    .main_about{
        flex-direction: column;
    }
    .about_right{
        text-align: center;
        margin-left: 0;
    }
    .about_right li{
        text-align: left;
    }
    .about_right h1{
        font-size: 20px;
        margin-top: 10px;
    }
    .team_cards{
        flex-direction: column;
    }
    .services_cards{
        grid-template-columns: auto;
    }
    .line1 img:not(:first-child){
        display: none;
    }
    .line2 img:not(:first-child){
        display: none;
    }
    .line3 img:not(:first-child){
        display: none;
    }
}
